@import url(//db.onlinewebfonts.com/c/357c863a9b8e0f90200075d3e37ca7af?family=PF+Din+Text+Comp+Pro);

@font-face {
    font-family: 'PFDinTextCompPro';
    font-display: swap;
    src: url('../fonts/PFDinTextCompPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NEOSANPL';
    font-display: swap;
    src: url('../fonts/NEOSANPL.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextCondPro';
    font-display: swap;
    src: url('../fonts/PFDinTextCondPro.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'PFDinTextCondPro';
    font-display: swap;
    src: url('../fonts/PFDinTextCondPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RistrettoSlabPro';
    font-display: swap;
    src: url('../fonts/RistrettoSlabPro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
