@font-face {
    font-family: 'PFDinTextCompPro';
    font-display: swap;
    src: url('../fonts/PFDinTextCompPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NEOSANPL';
    font-display: swap;
    src: url('../fonts/NEOSANPL.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NEOSANPL';
    font-display: swap;
    src: url('../fonts/PFDinTextCondPro.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
