@import 'fonts';
@import 'mixins';

$minWidth: 320;
$maxWidthContainer: 2560;
$maxWidth: 2560;

$fontFamily: 'Lato', sans-serif;

@import 'null';

html {
    scroll-behavior: smooth;
}
body.lock {
    overflow: hidden !important;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@import './sections/header';
@import './sections/about-us';
@import './sections/contacts';
@import './sections/portfolio';
